{{ form_start(form, {attr: {class: 'stacked'}}) }}

<section class="stack-large">

  <section>
    <div class="section-title">
      Informations générales
    </div>
    <div class="grid">
      {{ form_row(form.title) }}
      {{ form_row(form.slug) }}
      {{ form_row(form.createdAt) }}
      {{ form_row(form.category) }}
      {{ form_row(form.author) }}</div>

      <div style="grid-column-end: span 2; padding-top: 29px;" class="flex flex-start hstack-large form-group">

        {{ form_row(form.online, {row_attr: {style: 'align-self: flex-end'}}) }}

      </div>
  </section>
  <section>
    <div class="section-title">
      Image a la Une
    </div>
    <hr />
    <div class="grid2" style="margin-top: 32px">

      {{ form_row(form.imageFile) }}

    <div class="upload__image">
      {% if entity.image %}
        <img src="{{ vich_uploader_asset(entity, 'imageFile') | imagine_filter('thumb')}}">
      {% else %}

        <div class="upload__image" >
          <div class="inside__upload__image"><svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M15.21 6.64a5 5 0 00-.8.07A5.3 5.3 0 009.3 3a5.26 5.26 0 00-5.26 5.96A3.58 3.58 0 000 12.46 3.58 3.58 0 003.62 16H8v-4H5.5L10 7l4.5 5H12v4h3.21c2.65 0 4.79-2.1 4.79-4.68a4.73 4.73 0 00-4.79-4.68z" fill="#000"/></svg>
          </div>
        </div>

      {% endif %}
    </div>

    </div>

  </section>

  <section>
    <div class="section-title">
      Description
    </div>
    {{ form_row(form.content, {label: false}) }}
  </section>

  <section>
    <button type="submit" class="btn-gradient">Sauvegarder</button>
  </section>

</section>

{{ form_end(form) }}
