{% extends 'admin/layout/card.html.twig' %}

{% block title %}
  {{ icon('pen') }} Gestion des articles
{% endblock %}

{% block actions %}
  <a href="{{ path('admin_category_new') }}" class="btn-primary">Ajouter un article</a>
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
    <tr>
      <th>{{ sort_by(rows, 'ID', 'row.id') }}</th>
      <th>Nom</th>
      <th class="text-center">Statut</th>
      <th class="text-right">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for row in rows %}
        {% set link = path('admin_category_edit', {id: row.id}) %}
      <tr>
        <td class="dashboard-id">
          <a href="{{ link }}">{{ row.id }}</a>
        </td>
        <td>
          <a href="{{ link }}">{{ row.name }}</a>
        </td>
        <td><span class="bullet {% if row.online == false %}bullet--danger{% endif %}"></span></td>
        <td>
          <div class="dashboard-actions">
            <a href="{{ link }}">{{ icon('edit') }}</a>
            <form action="{{ path('admin_category_edit', {id: row.id}) }}" method="post" onsubmit="return confirm('Voulez vous vraiment supprimer ce contenu')">
              <input type="hidden" name="_method" value="DELETE" />
              <button type="submit">
                {{ icon('delete') }}
              </button>
            </form>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}
